:root {
  --umb-red: #C8102E;
  --umb-gold: #FFCD00;
  --umb-black: #2C2A29;
  --mu-blue-dark: #C8102E; /*#0b2d50;*/
  --mu-blue: #C8102E; /*#004185;*/
  --mu-blue-medium-dark: #C8102E; /*#005ba2;*/
  --mu-blue-medium: #C8102E; /*#0075bf;*/
  --mu-blue-medium-light: #C8102E; /*#3a6fbf;*/
  --mu-blue-light: #FFCD00; /*#19aced;*/
  --mu-blue-lighter: #6ac7f2;
  --mu-blue-lightest: #bbebff;

  /* Appearance for cloring interactive elements that are disabled */
  --umb-disabled-bg-color: #dddddd;
  --umb-disabled-color: #688aa0;
  --umb-error-color: #791a0e;

  /* These match the colors from https://path-designsystem.elluciancloud.com/#/components/Alert */
  --umb-alert-success-color: #00804d;
  --umb-alert-success-bgcolor: #eaf7f2;
  --umb-alert-success-border: #00af69;
  --umb-alert-info-color: #2874bb;
  --umb-alert-info-bgcolor: #eff7ff;
  --umb-alert-info-border: #51abff;
  --umb-alert-warn-color: #8a6a00;
  --umb-alert-warn-bgcolor: #f5f2e7;
  --umb-alert-warn-border: #efc728;
  --umb-alert-error-color: #d42828;
  --umb-alert-error-bgcolor: #ffeeed;
  --umb-alert-error-border: #d42828;

  /* from Microsoft https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/products */
  --ms-excel-green: #0c5f32;
  --ms-powerpoint-orange: #a92b1a;
  --ms-word-blue: #124078;
  --ms-onenote-purple: #5c1384;
  --ms-exchange-blue: #005a9e;
  --ms-teams-blue: #464775;
  --ms-microsoft365-purple: #664a96;
  --ms-forms-teal: #038387; /* Gotten from the logo, not on the products site */

  /* Other non-color variables */
  --transition-speed: 0.25s;
  --circle-radius: 50%;
  --rectangle-radius: 4px;
}

/* 
  .umb-- classes are used in Experience
  .ss-- classes are used in Self-Service, they are shorter due to character limits in Self-Service customization.
*/

html {
  height: 100%;
  width: 100%;
}

.umb--body,
.umb--page-body,
.ss--pgb {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif; /* Noto Sans is the Default font from Ellucian */
  container-type: size;
}

.umb--body {
  overflow: hidden;
}

.umb--body *,
.umb--page-body *,
.ss--pgb * {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif; /* Noto Sans is the Default font from Ellucian */
}

.umb--body a,
.umb--page-body a,
.ss--pgb a {
  text-underline-offset: 2px;
  transition: var(--transition-speed);
}

.umb--page-body {
  overflow-y: auto;
}

.ss--pgb {
  min-width: 600px;
}

.ss--pgf {
  padding-top: 16px;
  font-size: 10pt;
}

.ss--pgf a {
  color: var(--mu-blue-light);
}

/* --Import Material Symbols */
/* Imported from https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0 so I could shorten the class name */
/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v271/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2)
    format('woff2');
}
/* --End Import of Material Symbols-- */

*.material-symbols-outlined,
*.material-symbols-outlined,
*.ss--mso {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

a .material-symbols-outlined,
a .ss--mso {
  text-decoration: none;
}

a:hover .material-symbols-outlined,
a:hover .ss--mso {
  text-decoration: none;
}

/* Import Roboto-Mono */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SeW4Ep0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_QOW4Ep0.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_R-W4Ep0.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_S-W4Ep0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_SuW4Ep0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v30/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* End Import of Roboto Mono */

/* Import Roboto */
/* get the required local files */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmZiArmlw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmQiArmlw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmYiArmlw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmXiArmlw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* math */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVnoiArmlw.woff2) format('woff2');
  unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0310, U+0312, U+0315, U+031A, U+0326-0327, U+032C, U+032F-0330, U+0332-0333, U+0338, U+033A, U+0346, U+034D, U+0391-03A1,
    U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2016-2017, U+2034-2038, U+203C, U+2040, U+2043, U+2047, U+2050, U+2057, U+205F, U+2070-2071,
    U+2074-208E, U+2090-209C, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2100-2112, U+2114-2115, U+2117-2121, U+2123-214F, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2,
    U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B7, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3,
    U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+3030, U+FF5B, U+FF5D, U+1D400-1D7FF,
    U+1EE00-1EEFF;
}
/* symbols */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVn6iArmlw.woff2) format('woff2');
  unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299,
    U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E,
    U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315,
    U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0,
    U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D,
    U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE,
    U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2,
    U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859,
    U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8BB, U+1F8C0-1F8C1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA89,
    U+1FA8F-1FAC6, U+1FACE-1FADC, U+1FADF-1FAE9, U+1FAF0-1FAF8, U+1FB00-1FBFF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmbiArmlw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmaiArmlw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiAo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* End Import of Robot */

/* Import Noto Sans */
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9X6VLKzA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9e6VLKzA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9b6VLKzA.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9W6VLKzA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9Z6VLKzA.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9V6VLKzA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9U6VLKzA.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9a6VI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* End Import */

.umb--body .umb--monospace,
.umb--page-body .umb--monospace,
.ss--pgb .ss--mono {
  font-family: 'Roboto Mono';
}

/* Custom HTML Cards in Experience
  ----------------------------------------------------------------------------------------------------------------------
*/

.umb--card {
  width: 100%;
  height: 100%;
  position: relative;
}

.umb--card-overlay {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: 
	linear-gradient(180deg, rgba(42, 0, 0, 0) 50%, var(--umb-black) 100%),
    linear-gradient(10deg, rgba(42, 0, 0, 0) 70%, var(--umb-black) 100%);
  z-index: 50;
  position: absolute;
}

.umb--card-bg-image {
  height: 100%;
  width: 100%;
  z-index: 45;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  transition: calc(var(--transition-speed) * 2.5);
}

/* Used to blur the background of some cards */
.umb--card-bg-blur {
  filter: blur(2px);
}

.umb--card-bg-blur-more {
  filter: blur(8px);
}

.umb--card-text-label {
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 55;
  color: #ffffff;
  font-size: 18pt;
  text-shadow: 0px 0px 3px #000;
}

.umb--card-link {
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 60px;
}

.umb--card-link a {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 60;
  overflow: hidden;
}

.umb--card-link:hover a {
  text-decoration: underline;
}

.umb--card-link:hover .umb--card-bg-image {
  transform: scale(105%);
  background-position: center;
}

.umb--card-link:hover .umb--card-text-label {
  text-decoration: underline;
}

.umb--subtext-card-top {
  height: 60%;
  top: 0;
}

.umb--subtext-card-top.umb--subtext-30 {
  height: 70%;
}

.umb--subtext-card-top.umb--subtext-50 {
  height: 50%;
}

.umb--subtext-card-top.umb--subtext-60 {
  height: 40%;
}

.umb--subtext-card-top.umb--subtext-70 {
  height: 30%;
}

/* Multicard horizontal layout */
.umb--multicard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 4px;
}

.umb--multicard .umb--card-link {
  flex-basis: 100%;
}

/* Make it a bit smaller for multicards */
.umb--multicard .umb--card-text-label {
  font-size: 14pt;
}

/* Multicard stacked vertical layout */
.umb--multicard-stacked {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.umb--multicard-stacked .umb--card-link {
  padding-right: 0px;
  flex-basis: 100%;
}

.umb--multicard-stacked .umb--card-link a {
  border-bottom: 4px solid var(--mu-blue-light);
  background-color: var(--mu-blue);
  position: relative;
}

.umb--multicard-stacked .umb--card-link:hover a {
  border-color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* Bottom of cards */
.umb--subtext-card-bottom {
  position: absolute;
  bottom: 0;
  background-color: var(--umb-black); /*#000000;*/
  width: 100%;
  height: 40%;
  color: #ffffff;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  font-size: 10pt;
  z-index: 60;
  overflow-y: auto;
}

.umb--subtext-card-bottom.umb--subtext-30 {
  height: 30%;
}

.umb--subtext-card-bottom.umb--subtext-50 {
  height: 50%;
}

.umb--subtext-card-bottom.umb--subtext-60 {
  height: 60%;
}

.umb--subtext-card-bottom.umb--subtext-70 {
  height: 70%;
}

.umb--subtext-card-bottom h3 {
  font-family: Roboto; /*Secondary Standard font from Ellucian */
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.umb--subtext-card-bottom h3:before {
  background-color: var(--mu-blue-light);
  content: '';
  display: block;
  height: 2px;
  left: 0;
  margin-top: 0.5em;
  position: absolute;
  width: 20px;
}

.umb--subtext-card-bottom a {
  color: var(--mu-blue-light);
  text-decoration: none;
}

.umb--subtext-card-bottom a:hover {
  color: var(--mu-blue-lightest);
  text-decoration: underline;
}

/* This haver their own settings */
.umb--subtext-card-bottom a.umb--link-button {
  color: unset;
}

.umb--subtext-card-bottom a.umb--link-button:hover {
  color: #ffffff;
  text-decoration: unset;
}

.umb--subtext-card-bottom p {
  margin: 0;
}

/* Used for umb--subtext-card-bottom primarily */
.umb--two-column-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1.5em;
}

.umb--two-column-grid {
  text-indent: -1em;
  padding-left: 1em;
}

.umb--card-links {
  display: flex;
  position: absolute;
  flex-direction: row-reverse;
  right: 0;
  top: 0;
  height: 54px;
}

.umb--card-links a,
.umb--card-links button {
  box-sizing: border-box;
  flex-basis: 15vh;
  background-color: #ffffff;
  border: none;
  border-radius: var(--circle-radius);
  cursor: pointer;
  padding: 6px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: auto;
  height: 40px;
  width: 40px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  z-index: 69;
}

.umb--card-links a .material-symbols-outlined,
.umb--card-links button .material-symbols-outlined {
  color: var(--mu-blue-medium);
  font-size: 28px;
  transition: var(--transition-speed);
}

.umb--card-links a:hover,
.umb--card-links button:not(:disabled):hover {
  background-color: var(--mu-blue-medium-light);
}

.umb--card-links a:hover .material-symbols-outlined,
.umb--card-links button:not(:disabled):hover .material-symbols-outlined {
  color: #ffffff;
}

/* Info Corners at the bottom right of a card
    Uses JavaScript function to then show/hide modal muInfoCardToggle()
  */
.umb--info-modal {
  position: absolute;
  visibility: hidden; /* overriden by JavaScript as needed */
  opacity: 0; /* overriden by JavaScript as needed */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  z-index: 80;
  transition: var(--transition-speed);
}

.umb--info-box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 10pt;
  color: var(--mu-blue-dark);
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
  overflow-y: auto;
}

.umb--info-box h3 {
  font-size: 12pt;
}

.umb--info-corner {
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  transition: var(--transition-speed);
  background-color: var(--mu-blue-medium);
  border-top-left-radius: calc(var(--circle-radius) * 2);
  box-shadow: 0px 2px 8px #000000;
  cursor: pointer;
  z-index: 85;
}

.umb--info-corner .umb--info-label {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  font-size: 12pt;
  padding-right: 4px;
  padding-bottom: 4px;
  transition: var(--transition-speed);
}

.umb--info-corner:hover,
.umb--info-corner:focus {
  width: 42px;
  height: 42px;
  background-color: var(--mu-blue-medium-dark);
}

.umb--info-corner:hover .umb--info-label,
.umb--info-corner:focus .umb--info-label {
  font-size: 18pt;
}

.umb--info-box p,
.umb--modal-content p,
.umb--info-box h3,
.umb--modal-content h3 {
  margin: 0;
  line-height: 1.25;
  font-family: 'Roboto';
  padding-top: 0.75em;
}

.umb--info-box p:first-child,
.umb--modal-content p:first-child,
.umb--info-box h3:first-child,
.umb--modal-content h3:first-child {
  padding-top: 0;
}

.umb--info-box a:not(.umb--link-button),
.umb--modal-content a:not(.umb--link-button) {
  color: var(--mu-blue-medium);
  text-decoration-color: var(--mu-blue-light);
}

.umb--info-box a:not(.umb--link-button):hover,
.umb--modal-content a:not(.umb--link-button):hover,
.umb--info-box a:not(.umb--link-button):focus,
.umb--modal-content a:not(.umb--link-button):focus {
  color: var(--mu-blue-medium-dark);
  text-decoration-color: var(--mu-blue-medium);
}

.umb--info-box ol,
.umb--info-box ul,
.umb--modal-content ol,
.umb--modal-content ul {
  padding: 0;
  margin: 0.25em 0 0 2em;
}

.umb--info-box ul,
.umb--modal-content ul,
.umb--page-content ul {
  list-style: none;
}

.umb--info-box li::marker,
.umb--modal-content li::marker {
  color: var(--mu-blue);
}

.umb--info-box ol li,
.umb--info-box ul li,
.umb--modal-content ol li,
.umb--modal-content ul li {
  padding-top: 0.5em;
}

.umb--info-box ol li:first-child,
.umb--info-box ul li:first-child,
.umb--modal-content ol li:first-child,
.umb--modal-content ul li:first-child {
  padding-top: unset;
}

#modal-shade,
.umb--card [id$='--modal-shade'] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 70;
  transition: var(--transition-speed);
  cursor: pointer;
  box-sizing: border-box;
}

#modal-shade.umb--modal-top,
.umb--card [id$='--modal-shade'].umb--modal-top {
  padding-top: 54px;
}

.umb--card-links a.umb--modals,
.umb--card-links button.umb--modals,
a.sdk--link-modal,
button.sdk--link-modal {
  background-color: var(--mu-blue-medium);
  z-index: 79;
}

.umb--card-links a.umb--modals:hover,
.umb--card-links button.umb--modals:hover,
a.sdk--link-modal:hover,
button.sdk--link-modal:hover {
  background-color: var(--mu-blue-medium-dark);
}

.umb--card-links a.umb--modals .material-symbols-outlined,
a.sdk--link-modal .material-symbols-outlined,
.umb--card-links button.umb--modals .material-symbols-outlined,
button.sdk--link-modal .material-symbols-outlined {
  color: #ffffff;
}

.umb--indicator {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  z-index: 71;
}

.umb--indicator-right {
  border-width: 0 8px 8px 8px;
}

.umb--modal-content {
  height: 100%;
  width: 100%;
  color: var(--mu-blue-dark);
  font-size: 10pt;
  background: #ffffff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 2px #000000;
  z-index: 75;
  overflow-y: auto;
  cursor: default;
  box-sizing: border-box;
}

.umb--modal-shade-closed {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.umb--modal-closed {
  visibility: hidden;
  display: none;
}

.umb--modal-open {
  visibility: visible;
  display: block;
}

.umb--modal-shade-open {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.umb--card-links a[data-open] {
  background-color: var(--mu-blue-light);
}

.umb--card-links a[data-open]:hover,
.umb--card-links button[data-open]:hover {
  background-color: var(--mu-blue-medium-light);
}

.umb--card-links a[data-open] .material-symbols-outlined,
.umb--card-links button[data-open] .material-symbols-outlined {
  color: #ffffff;
}

/* Page styles */
.umb--page-header,
.ss--pgh {
  width: 100%;
  padding: 8px;
  background-color: var(--mu-blue);
  color: #ffffff;
  font-family: 'Noto Sans', sans;
  font-size: 18pt;
  border-top-left-radius: var(--rectangle-radius);
  border-top-right-radius: var(--rectangle-radius);
  text-align: center;
}

.umb--page-content,
.ss--pgc {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  color: var(--mu-blue-dark);
  font-size: 12pt;
  border-bottom-left-radius: var(--rectangle-radius);
  border-bottom-right-radius: var(--rectangle-radius);
  border: 2px solid var(--mu-blue);
  margin-bottom: 24px;
}

.umb--page-content.umb--dark,
.ss--pgc.ss--dark {
  background-color: #333333;
  color: #ffffff;
}

.umb--page-content.umb--dark a:not(.umb--link-button),
.ss--pgc.ss--dark a:not(.ss--btn) {
  color: var(--mu-blue-light);
}

.umb--page-content.umb--dark a:not(.umb--link-button):hover,
.ss--pgc.ss--dark a:not(.ss--btn):hover {
  color: var(--mu-blue-medium-light);
}

.umb--page-content p,
.ss-pgc p {
  padding-top: 0.5em;
}

.umb--page-content p:first-child,
.ss--pbc p:first-child {
  padding-top: unset;
}

/* Shade allows further darkening background, great for link button cards */
.umb--card-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  z-index: 50;
}

.umb--card-shade-darker {
  background-color: rgba(0, 0, 0, 0.7);
}

/* For holding Link Buttons that flex */
.umb--flex-link-container,
.ss--flc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  padding-bottom: 4px;
}

/* Link Button Basic Styling */
.umb--link-button,
.ss--btn {
  display: inline-flex;
  flex-basis: 45%; /* Under half, so there is some give or take for those items that don't quite split nicely */
  box-sizing: border-box;
  flex-grow: 1;
  white-space: nowrap;
  color: var(--mu-blue-dark);
  background-color: #ffffff;
  border: 2px solid var(--mu-blue-medium-light);
  border-radius: calc(var(--rectangle-radius) + 2px);
  font-size: 9.5pt;
  /*font-weight: bold;*/
  height: 44px;
  margin-top: 8px;
  text-decoration: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.umb--link-button:hover,
.ss--btn:hover {
  color: #ffffff;
  background-color: var(--mu-blue-medium-light);
  border-color: #FFCD00; /*#ffffff;*/
}

.umb--link-button:hover .umb--link-label,
.ss--btn:hover .ss--lbl {
  text-decoration: underline;
}

.umb--link-button .umb--link-icon,
.umb--link-button .material-symbols-outlined,
.ss--btn .ss--mso {
  box-sizing: border-box;
  padding: 4px;
  font-size: 32px;
  height: 40px;
  width: 40px;
  color: var(--mu-blue-medium);
  background-color: #ffffff;
  border-top-left-radius: var(--rectangle-radius);
  border-bottom-left-radius: var(--rectangle-radius);
  /*box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.5);*/
  transition: var(--transition-speed);
}

.umb--link-button .umb--link-icon,
.ss--btn .ss--ico {
  padding-top: 2px; /* Some reason 4px doesn't work for top with the icons*/
}

.umb--link-button .umb--link-label,
.ss--btn .ss--lbl {
  margin: 4px 8px 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sub label variant */
.umb--link-button.umb--has-sub-label .umb--link-label,
.ss--btn.ss--hsl .ss--lbl {
  display: unset;
  text-decoration: unset;
}

.umb--link-button.umb--has-sub-label .umb--link-label :last-child,
.ss--btn.ss--btn.ss--hsl .ss--lbl :last-child {
  font-size: 8pt;
  font-weight: normal;
}

.umb--link-button.umb--has-sub-label:hover .umb--link-label :first-child,
.ss--btn.ss--btn.ss--hsl:hover .ss--lbl :first-child {
  text-decoration: underline;
}

/* Link Button Dark Variant */
.umb--link-button-dark {
  background-color: var(--mu-blue-dark);
}

.umb--link-button-dark:hover {
  background-color: var(--mu-blue);
}

.umb--link-button-dark .umb--link-label {
  color: #ffffff;
}

.umb--link-button-dark .material-symbols-outlined,
.umb--link-button-dark .ss--mso {
  color: #ffffff;
  background-color: var(--mu-blue);
}

.umb--link-button-dark:hover .material-symbols-outlined,
.umb--link-button-dark:hover .ss--mso {
  background-color: var(--mu-blue-medium-dark);
}

.umb--link-button-dark .umb--link-icon {
  background-color: #333333;
}

/* Link Button Medium Variant */
.umb--link-button-medium {
  height: 36px;
}

.umb--link-button-medium .umb--link-icon,
.umb--link-button-medium .material-symbols-outlined,
.umb--link-button-medium .ss--mso {
  height: 32px;
  width: 32px;
  font-size: 24px;
}

.umb--link-button-medium.umb--has-sub-label .umb--link-label {
  margin-top: 0;
}

/* Link Button Small Variant */
.umb--link-button-small {
  font-size: 9pt;
  height: 28px;
}

.umb--link-button-small .umb--link-icon,
.umb--link-button-small .material-symbols-outlined,
.umb--link-button-small .ss--mso {
  font-size: 16px;
  height: 24px;
  width: 24px;
}

/* Stand alone link buttons */
.umb--link-button.umb--link-button-standalone {
  flex-basis: unset;
  flex-grow: unset;
}

/* Fullscreen Overlays from Cards */
.umb--overlay-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
}

.umb--overlay-container {
  margin: 5%;
  background-color: #ffffff;
  border-radius: var(--rectangle-radius);
  padding: 25px;
  width: 90%;
  height: 90%;
}

.umb--overlay-close {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  height: 36px;
  width: 36px;
  transition: var(--transition-speed);
  background-color: var(--mu-blue-medium);
  border-bottom-left-radius: calc(var(--circle-radius) * 2);
  border-top-right-radius: var(--rectangle-radius);
  box-shadow: 0px 0px 10px #000000;
}

.umb--info-box.umb--overlay-box {
  margin: 25px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
}

.umb--overlay-close .material-symbols-outlined {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  padding-right: 4px;
  padding-top: 4px;
  transition: var(--transition-speed);
  font-size: 24px;
  transition: var(--transition-speed);
}

.umb--overlay-close:hover,
.umb--overlay-close:focus {
  width: 48px;
  height: 48px;
  background-color: var(--mu-blue-medium-dark);
}

.umb--overlay-close:hover .material-symbols-outlined,
.umb--overlay-close:focus .material-symbols-outlined {
  font-size: 32px;
}

/* SDK Cards */
.sdk--item-hidden {
  display: none;
  visibility: hidden;
}

.sdk--data-loading-indicator {
  border: 4px solid #ffffff66;
  border-top: 4px solid var(--mu-blue-light);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
  margin-left: calc(50% - 16px);
  margin-top: 75px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sdk--input-text {
  height: 36px;
  padding: 2px 6px;
  border-radius: var(--rectangle-radius);
  border: 2px solid var(--mu-blue-medium-dark);
  display: block;
  margin-bottom: 2px;
}
.sdk--input-text:focus {
  color: var(--mu-blue-dark);
}

.sdk--input-button {
  height: 36px;
  width: 36px;
  color: var(--mu-blue-medium);
  background-color: #ffffff;
  border-radius: calc(var(--rectangle-radius) - 2px);
  box-shadow: -2px 0px 4px -1px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: var(--rectangle-radius);
  border: 2px solid var(--mu-blue-medium-dark);
}

.sdk--input-with-button {
  height: 36px;
  background-color: #ffffff;
  width: fit-content;
  border: 2px solid var(--mu-blue-medium-dark);
  border-radius: var(--rectangle-radius);
  margin-bottom: 4px;
}

.sdk--input-with-button input:first-child {
  /* The input */
  height: 100%;
  border: none;
  padding-left: 4px;
  display: block;
  float: left;
  border-top-left-radius: var(--rectangle-radius);
  border-bottom-left-radius: var(--rectangle-radius);
}

.sdk--input-with-button input:last-child {
  /* The button */
  height: 32px;
  width: 32px;
  color: var(--mu-blue-medium);
  background-color: #ffffff;
  border: none;
  border-top-right-radius: var(--rectangle-radius);
  border-bottom-right-radius: var(--rectangle-radius);
  box-shadow: -2px 0px 4px -1px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.sdk--input-select {
  padding: 2px;
  border-radius: var(--rectangle-radius);
  border: 2px solid var(--mu-blue-medium-dark);
  display: block;
  margin-bottom: 2px;
}

[class^='sdk--input'] {
  font-size: 10pt;
  max-width: 100%; /* prevents inputs from going outside of card bounds */
}

.sdk--input-select:disabled,
.sdk--input-with-button input:disabled,
.sdk--input-button:disabled {
  color: var(--umb-disabled-color);
  background-color: var(--umb-disabled-bg-color);
}

.sdk--input-select:not(:disabled):hover option {
  color: #000000;
  background-color: #ffffff;
}

.sdk--input-select:not(:disabled):hover,
.sdk--input-button:not(:disabled):hover,
.sdk--input-with-button input:last-child:not(:disabled):hover,
.sdk--input-select:not(:disabled):focus,
.sdk--input-button:not(:disabled):focus,
.sdk--input-with-button input:last-child:not(:disabled):focus {
  color: #ffffff;
  background-color: var(--mu-blue-medium-light);
}

.sdk--input-select:not(:disabled):active,
.sdk--input-button:not(:disabled):active,
.sdk--input-with-button input:last-child:not(:disabled):hover {
  color: #ffffff;
  background-color: var(--mu-blue-medium);
}

.sdk--inline-form,
.sdk--inline-form-with-button {
  display: flex;
}

.sdk--inline-form input,
.sdk--inline-form-with-button input,
.sdk--inline-form-with-button button {
  border-radius: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
}

.sdk--inline-form input:focus,
.sdk--inline-form-with-button input:focus,
.sdk--inline-form-with-button button:focus {
  border-color: var(--mu-blue-light);
}

.sdk--inline-form input:first-child,
.sdk--inline-form-with-button input:first-child {
  border-top-left-radius: var(--rectangle-radius);
  border-bottom-left-radius: var(--rectangle-radius);
  border-left-width: 2px;
}

.sdk--inline-form input:last-child,
.sdk--inline-form-with-button button {
  border-top-right-radius: var(--rectangle-radius);
  border-bottom-right-radius: var(--rectangle-radius);
  border-right-width: 2px;
}

.sdk--header {
  margin-bottom: 8px;
}

.sdk--data-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  margin-bottom: 2px;
  font-size: 10pt;
}

.sdk--data-header {
  display: inline-flex;
  flex-basis: 60px;
  flex-grow: 1;
  color: #ffffff;
  background-color: var(--mu-blue-medium);
  padding: 4px 6px;
  font-weight: bold;
}

.sdk--data-value {
  display: inline-flex;
  flex-basis: max(180px, 80%);
  flex-grow: 1;
  padding: 4px 6px;
  background-color: #ffffff;
}

.sdk--data-error-message {
  width: 100%;
  text-align: center;
  color: var(--umb-error-color);
}

.sdk--link {
  color: var(--mu-blue-medium-light);
  text-decoration: none;
}

.sdk--link:hover,
.sdk--link:focus {
  color: var(--mu-blue-medium-dark);
  text-decoration: underline;
}

.umb--card-shade.sdk--slide-content {
  padding: 8px 36px;
  height: 100%;
}

.umb--card-shade.sdk--slide-content.sdk--slide-has-legend {
  height: calc(100% - 30px); /* Match the height for .sdk--slide-legend this allows slides to handle overflow-y properly */
}

.sdk--carousel-container {
  height: 100%;
  width: 100%;
}

.sdk--carousel-slide {
  height: 100%;
}

/* Next & previous buttons */
.sdk--carousel-prev,
.sdk--carousel-next {
  cursor: pointer;
  position: absolute;
  z-index: 90;
  top: 50%;
  padding: 6px;
  border: none;
  background-color: #ffffff55;
  color: var(--mu-blue-dark);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.sdk--carousel-prev {
  left: 0;
  padding-right: 12px;
  border-top-right-radius: var(--circle-radius);
  border-bottom-right-radius: var(--circle-radius);
}
.sdk--carousel-next {
  right: 0;
  padding-left: 12px;
  border-top-left-radius: var(--circle-radius);
  border-bottom-left-radius: var(--circle-radius);
}

.sdk--carousel-prev:hover,
.sdk--carousel-next:hover,
.sdk--carousel-prev:focus,
.sdk--carousel-next:focus {
  color: #ffffff;
  background-color: var(--mu-blue-medium-dark);
}

/* Caption text */
.sdk--slide-legend {
  background-color: #ffffff22;
  color: #ffffff;
  z-index: 60;
  bottom: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  height: 30px;
}

.sdk--slide-legend-blue {
  color: #ffffff;
  background-color: var(--mu-blue);
}

/* Fading animation */
.sdk--slide-fade {
  animation-name: sdkSlideFade;
  animation-duration: 1s;
}

@keyframes sdkSlideFade {
  from {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

.sdk--progress-bar-container {
  width: 100%;
  height: 30px;
  overflow: hidden;
  z-index: 59;
  opacity: 0.5;
}

.sdk--carousel-footer .sdk--progress-bar-container {
  position: absolute;
  bottom: 0px;
}

.sdk--progress-bar-fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00418533, #004185, #3a6fbf, #19aced33);
  transition: width 3s linear;
  animation: sdkProgressBar 3s infinite linear;
}

@keyframes sdkProgressBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/*  Allows for the links on SDK card to be disabled.
    'a' tags do not natively support the 'disabled' global attribute
    This will make them look disabled and control an overlay that blocks their access
*/
.sdk--linkbar-container {
  height: 40px;
  margin-bottom: 4px;
}

.sdk--card-links-disabled .sdk--card-links-blocker {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.sdk--card-links-enabled .sdk--card-links-blocker {
  visibility: hidden;
  display: none;
}

.sdk--card-links-disabled a,
.umb--card-links .umb--card-link-disabled {
  background-color: var(--umb-disabled-bg-color);
}

.sdk--card-links-disabled a .material-symbols-outlined,
.umb--card-links .umb--card-link-disabled .material-symbols-outlined {
  color: var(--umb-disabled-color);
}

/* Reverse for modal buttons */
.sdk--card-links-disabled a.sdk--link-modal,
.umb--card-links .umb--card-link-disabled.sdk--link-modal {
  background-color: var(--umb-disabled-color);
}

.sdk--card-links-disabled a.sdk--link-modal .material-symbols-outlined,
.umb--card-links .umb--card-link-disabled.sdk--link-modal .material-symbols-outlined {
  color: var(--umb-disabled-bg-color);
}

/* Tables */
.sdk--data-table {
  border-collapse: separate;
  border-spacing: 2px 0px;
  width: 100%;
}

table.sdk--data-table-shrink {
  width: fit-content;
  max-width: 100%;
}

.sdk--data-table-header-row {
  color: #ffffff;
  background-color: var(--mu-blue);
  font-weight: bold;
}

.sdk--data-table-header-row th {
  padding: 4px;
}

.sdk--data-table td {
  padding: 4px;
  padding-top: 8px;
  vertical-align: top;
}

.sdk--data-table td.sdk--data-table-cell-input {
  padding-top: 4px;
}

.sdk--data-table td.sdk--data-table-cell-align-right {
  text-align: right;
}

.sdk--data-table td.sdk--data-table-cell-align-center {
  text-align: center;
}

.sdk--horizontal-table {
  border-collapse: collapse;
}

.sdk--horizontal-table {
  border-collapse: collapse;
}

.sdk--horizontal-table th,
.sdk--horizontal-table td {
  border: 1px solid var(--mu-blue-dark);
  padding: 4px 8px;
  text-align: left;
}

.sdk--horizontal-table th {
  background-color: var(--mu-blue-medium-dark);
  color: #ffffff;
  font-weight: bold;
}

.sdk--ellucian-table th,
.sdk--ellucian-table td {
  padding: 0.25rem 16px;
}

.sdk--tab-search-container {
  width: 100%;
  padding: 16px 8px;
  background-color: #ffffff;
}

.sdk--panel {
  background-color: #ffffff;
  border-radius: 4px;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.sdk--card-cover {
  color: #eeeeee;
  text-shadow: 0px 0px 3px #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  word-spacing: 0.16em;
  background-color: unset;
  border: none;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  align-items: center;
}

.sdk--card-cover:hover {
  color: var(--mu-blue-light);
}

.sdk--hide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: var(--transition-speed);
  background-color: var(--mu-blue-medium);
  border: none;
  border-top-right-radius: calc(var(--circle-radius) * 2);
  box-shadow: 0px -2px 8px #000000;
  cursor: pointer;
  z-index: 79;
}

.sdk--hide-content:hover {
  width: 42px;
  height: 42px;
  background-color: var(--mu-blue-medium-dark);
}

.sdk--hide-content .ds-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  padding-left: 4px;
  padding-bottom: 4px;
  transition: var(--transition-speed);
  scale: 0.75;
}

.sdk--hide-content:hover .ds-icon {
  scale: 1.25;
  left: 4px;
  bottom: 4px;
}

.sdk--hide-content.sdk--content-hidden {
  color: #eeeeee;
  text-shadow: 0px 0px 3px #000;
  font-size: 1rem;
  line-height: 1.5;
  word-spacing: 0.16em;
  background-color: rgba(0, 65, 133, 0.4);
  border: none;
  border-radius: unset;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  align-items: center;
}

.sdk--hide-content.sdk--content-hidden:hover {
  color: var(--mu-blue-light);
  height: 100%;
  width: 100%;
}

.sdk--hide-content.sdk--content-hidden .ds-icon {
  position: unset;
  scale: 1.25;
}

.sdk--hide-content.sdk--content-hidden:hover .ds-icon {
  scale: 1.5;
}

.sdk--card-cover-label {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
}

.sdk--message-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-top: 2px solid #000000;
  color: #000000;
  transition: 0.5s;
  z-index: 120;
}

/* Colorize the Alerts */
.sdk--message-success {
  border-top-color: var(--umb-alert-success-border);
}

.sdk--message-success .MuiAlert-root {
  background-color: var(--umb-alert-success-bgcolor);
  color: var(--umb-alert-success-color);
}

.sdk--message-success .MuiAlert-icon {
  color: var(--umb-alert-success-border);
}

.sdk--message-info {
  border-top-color: var(--umb-alert-info-border);
}

.sdk--message-info .MuiAlert-root {
  background-color: var(--umb-alert-info-bgcolor);
  color: var(--umb-alert-info-color);
}

.sdk--message-info .MuiAlert-icon {
  color: var(--umb-alert-info-border);
}

.sdk--message-warn {
  border-top-color: var(--umb-alert-warn-border);
}

.sdk--message-warn .MuiAlert-root {
  background-color: var(--umb-alert-warn-bgcolor);
  color: var(--umb-alert-warn-color);
}

.sdk--message-warn .MuiAlert-icon {
  color: var(--umb-alert-warn-border);
}

.sdk--message-error {
  border-top-color: var(--umb-alert-error-border);
}

.sdk--message-error .MuiAlert-root {
  background-color: var(--umb-alert-error-bgcolor);
  color: var(--umb-alert-error-color);
}

.sdk--message-error .MuiAlert-icon {
  color: var(--umb-alert-error-border);
}
